
.header {
    overflow: hidden;
    background-image: url("https://cdn.pixabay.com/photo/2020/03/16/08/38/lake-4936249_1280.jpg");
    padding: 20px 10px;
      background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }
  
  .header a {
    float: left !important;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 10px !important ; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-right {
    float: right;
    color:white;
  }
  
  @media screen and (max-width: 500px) {
    .header a {
      
      display: block;
      text-align: left;
    }
    
  }
  
  
  
  /* Base Styles */
  
  :root {
      font-size: 10px;
  }
  
  *,
  *::before,
  *::after {
      box-sizing: border-box;
  }
  
  body {
      font-family: "Open Sans", Arial, sans-serif;
      min-height: 100vh;
      background-color: #fafafa;
      color: #262626;
      padding-bottom: 3rem;
  }
  
  img {
      display: block;
  }
  
  .container {
      max-width: 93.5rem;
      margin: 0 auto;
      padding: 0 2rem;
  }
  
  .btn {
      display: inline-block;
      font: inherit;
      background: none;
      border: none;
      color: inherit;
      padding: 0;
      cursor: pointer;
  }
  
  .btn:focus {
      outline: 0.5rem auto #4d90fe;
  }
  
  .visually-hidden {
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
  }
  
  
  .footer {
    position: absolute !important;
    bottom: 0 !important;
     margin-bottom: -100px !important;
     width: 100%;
     background-color: #FA8072;
     color: white;
     text-align: center;
     height: 100px;
  }
  
  /* Profile Section */
  
  .profile {
      padding: 5rem 0;
  }
  
  .profile::after {
      content: "";
      display: block;
      clear: both;
  }
  
  .profile-image {
      float: left;
      /*width: calc(33.333% - 1rem);*/
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      margin-right: 3rem;
  }
  
  
  .profile-image img {
      width: 80px;
      height: 80px;
      border: solid;
      border-radius: 70px;
  }
  
  .profile-user-settings,
  .profile-stats,
  .profile-bio {
      float: left;
      width: calc(66.666% - 2rem);
  }
  
  .profile-user-settings {
      margin-top: 1.1rem;
  }
  
  .profile-user-name {
      display: inline-block;
      font-size: 4px;
      font-weight: 300;
  }
  
  .profile-edit-btn {
      font-size: 1.4rem;
      line-height: 1.8;
      border: 0.1rem solid #dbdbdb;
      border-radius: 0.3rem;
      padding: 0 2.4rem;
      margin-left: 2rem;
  }
  
  .profile-settings-btn {
      font-size: 2rem;
      margin-left: 1rem;
  }
  
  .profile-stats {
      margin-top: 2.3rem;
  }
  
  .profile-stats li {
      display: inline-block;
      font-size: 1.6rem;
      line-height: 1.5;
      margin-right: 4rem;
      cursor: pointer;
  }
  
  .profile-stats li:last-of-type {
      margin-right: 0;
  }
  
  .profile-bio {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      margin-top: 2.3rem;
  }
  
  .profile-real-name,
  .profile-stat-count,
  .profile-edit-btn {
      font-weight: 600;
  }
  
  /* Gallery Section */
  
  .gallery {
      display: flex;
      flex-wrap: wrap;
      margin: -1rem -1rem;
      padding-bottom: 3rem;
  }
  
  .gallery-item {
      position: relative;
      flex: 1 0 22rem;
      margin: 1rem;
      color: #fff;
      cursor: pointer;
  }
  
  .gallery-item:hover .gallery-item-info,
  .gallery-item:focus .gallery-item-info {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
  }
  
  .gallery-item-info {
      display: none;
  }
  
  .gallery-item-info li {
      display: inline-block;
      font-size: 1.7rem;
      font-weight: 600;
  }
  
  .gallery-item-likes {
      margin-right: 2.2rem;
  }
  
  .gallery-item-type {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2.5rem;
      text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
  }
  
  .fa-clone,
  .fa-comment {
      transform: rotateY(180deg);
  }
  
  .gallery-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  
  /* Loader */
  
  .loader {
      width: 5rem;
      height: 5rem;
      border: 0.6rem solid #999;
      border-bottom-color: transparent;
      border-radius: 50%;
      margin: 0 auto;
      animation: loader 500ms linear infinite;
  }
  
  /* Media Query */
  
  @media screen and (max-width: 40rem) {
      .profile {
          display: flex;
          flex-wrap: wrap;
          padding: 4rem 0;
      }
  
      .profile::after {
          display: none;
      }
  
      .profile-image,
      .profile-user-settings,
      .profile-bio,
      .profile-stats {
          float: none;
          width: auto;
      }
  
  
      .profile-user-settings {
          flex-basis: calc(100% - 10.7rem);
          display: flex;
          flex-wrap: wrap;
          margin-top: 1rem;
      }
  
      .profile-user-name {
          font-size: 1px !important;
      }
  
      .profile-edit-btn {
          order: 1;
          padding: 0;
          text-align: center;
          margin-top: 1rem;
      }
  
      .profile-edit-btn {
          margin-left: 0;
      }
  
      .profile-bio {
          font-size: 1.4rem;
          margin-top: 1.5rem;
      }
  
      .profile-edit-btn,
      .profile-bio,
      .profile-stats {
          flex-basis: 100%;
      }
  
      .profile-stats {
          order: 1;
          margin-top: 1.5rem;
      }
  
      .profile-stats ul {
          display: flex;
          text-align: center;
          padding: 1.2rem 0;
          border-top: 0.1rem solid #dadada;
          border-bottom: 0.1rem solid #dadada;
      }
  
      .profile-stats li {
          font-size: 1.4rem;
          flex: 1;
          margin: 0;
      }
  
      .profile-stat-count {
          display: block;
      }
  }
  
  /* Spinner Animation */
  
  @keyframes loader {
      to {
          transform: rotate(360deg);
      }
  }
  
  /*
  
  The following code will only run if your browser supports CSS grid.
  
  Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 
  
  */
  
  @supports (display: grid) {
      .profile {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-template-rows: repeat(3, auto);
          grid-column-gap: 3rem;
          align-items: center;
      }
  
      .profile-image {
          grid-row: 1 / -1;
      }
  
      .gallery {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
          grid-gap: 2rem;
      }
  
      .profile-image,
      .profile-user-settings,
      .profile-stats,
      .profile-bio,
      .gallery-item,
      .gallery {
          width: auto;
          margin: 0;
      }
  
      @media (max-width: 40rem) {
          .profile {
              grid-template-columns: auto 1fr;
              grid-row-gap: 1.5rem;
          }
  
          .profile-image {
              grid-row: 1 / 2;
          }
  
          .profile-user-settings {
              display: grid;
              grid-template-columns: auto 1fr;
              grid-gap: 1rem;
          }
  
          .profile-edit-btn,
          .profile-stats,
          .profile-bio {
              grid-column: 1 / -1;
          }
  
          .profile-user-settings,
          .profile-edit-btn,
          .profile-settings-btn,
          .profile-bio,
          .profile-stats {
              margin: 0;
          }
      }
  }


  
.camera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 700px;
    margin: 0 auto;
}




/****************************************/

.layout {
    text-align: center;
  }
  .row {
    width: 100;
    position: relative;
    clear: both;
  }
  .cell {
    float: left;
    display: block;
    width: 100%;
  }
  .center {
    text-align: center;
  }
  #newImages {
    height: 300px;
    position: relative;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: -150px;
  }
  img.masked {
    position: absolute;
    background-color: #fff;
    border: 1px solid #babbbd;
    padding: 10px;
    box-shadow: 1px 1px 1px #babbbd;
    margin: 10px auto 0;
  }
  #player {
    width: 640px;
    height: 480px;
    margin: 10px auto;
    border: 1px solid #babbbd;
  }
  canvas {
    width: 640px;
    height: 480px;
    margin: 10px auto;
    border: 1px solid #babbbd;
  }
  #capture-btn {
    width: 130px;
    margin: 0 auto;
  }
  #pick-image {
    display: none;
    text-align: center;
    padding-top: 30px;
  }
  .btn.btn-primary {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      color: #fff;
      background-color: #337ab7;
      border-color: #2e6da4;
  }  